global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option dontlognull
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend lloyds_http
    bind :80
    option httplog
    option forwardfor
    default_backend ctf_http_nodes

backend ctf_http_nodes
    balance leastconn
    option forwardfor
    cookie CTFNODE insert indirect nocache
    option httpchk GET /health
    http-check expect status 200
    server ctf1 ${BACKEND_1}:80 check cookie ctf1
    server ctf2 ${BACKEND_2}:80 check cookie ctf2
    server ctf3 ${BACKEND_3}:80 check cookie ctf3
    server ctf4 ${BACKEND_4}:80 check cookie ctf4

frontend lloyds_https
    mode tcp
    bind :443
    option tcplog
    default_backend ctf_https_nodes

backend ctf_https_nodes
    mode tcp
    balance leastconn
    option tcp-check
    server ctf1 ${BACKEND_1}:443 check
    server ctf2 ${BACKEND_2}:443 check
    server ctf3 ${BACKEND_3}:443 check
    server ctf4 ${BACKEND_4}:443 check
